@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-bottom:7rem">
    <h2 class="text-center">List of Employees</h2>
 </div>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-md-2">
            <button id="search-employees" type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" id="employee-id" placeholder="Insert an employee id">
        </div>
    </div>
    <div class="form-group">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Contract Type</th>
                    <th>Hourly Salary</th>
                    <th>Monthly Salary</th>
                    <th>Annual Salary</th>
                </tr>
            </thead>
            <tbody id="table-body"></tbody>
        </table>
    </div>
</form>
@section scripts {
    <script src="~/Scripts/client/api/employeeAPI.js"></script>
    <script src="~/Scripts/client/components/employeeComponent.js"></script>
}


